apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
- namespace.yaml
- https://raw.githubusercontent.com/argoproj/argo-cd/v2.2.5/manifests/install.yaml
- projects

patchesStrategicMerge:
- argocd-cm.yaml
- argocd-cmd-params-cm.yaml
- argocd-rbac-cm.yaml
- argocd-secret.yaml
- argocd-server.yaml
